In [1]:
# pip install pandas mysql-connector-python

# ETL Process for Amazon Dataset

## Extract - Extracting data from MongoDB(Semi-structured)

In [63]:
#Import neccessary libraries
import pymongo
import pandas as pd
import mysql.connector

In [64]:
#connect to MongoDB server.
client = pymongo.MongoClient('mongodb://localhost:27017/', serverSelectionTimeoutMS=50000)
database_name = 'DAP_Project'
collection_list = client.list_database_names()
collection_list

['DAP_Project', 'admin', 'config', 'local']

In [65]:
# Check if database name exist - 
    #if yes - then it will access collection and load data in Amazon_data
    #if no - it will raise ValueError
    
if database_name in collection_list:
    db = client[database_name]
    Amazon_collection = db['Amazon']
    Amazon_data = Amazon_collection.find()
else:
    raise ValueError(f"Database {database_name} not found in the collection list")

In [66]:
#convert data into pandas DataFrame
amazon_df = pd.DataFrame(list(Amazon_data))

In [67]:
amazon_df

,_id,title,price,rating,reviews,availability
0,6442a3c3c69d033f5ddcd984,"Samsung Galaxy M14 5G (Berry Blue, 4GB, 128GB ...","₹14,990",Previous page,,In stock
1,6442a3c3c69d033f5ddcd985,"Redmi 12C (Matte Black, 4GB RAM, 64GB Storage)","₹9,499",Previous page,,In stock
2,6442a3c3c69d033f5ddcd986,"Samsung Galaxy M04 Light Green, 4GB RAM, 64GB ...","₹7,499",3.9 out of 5 stars,"3,403 ratings",In stock
3,6442a3c3c69d033f5ddcd987,"Redmi A1 (Light Blue, 2GB RAM, 32GB Storage) |...","₹5,899",4.0 out of 5 stars,"13,373 ratings",In stock
4,6442a3c3c69d033f5ddcd988,"Redmi 10A (Slate Grey, 4GB RAM, 64GB Storage) ...","₹8,999",4.0 out of 5 stars,"17,087 ratings",In stock
...,...,...,...,...,...,...
3205,6450b1bfe484c3c96e518b6e,"Tecno Spark 9 (Sky Mirror, 4GB RAM,64GB Storag...","₹7,799",3.9 out of 5 stars,"4,825 ratings",In stock
3206,6450b1bfe484c3c96e518b6f,"Samsung Galaxy M33 5G (Emerald Brown, 8GB, 128...","₹17,499",4.1 out of 5 stars,"27,309 ratings",In stock
3207,6450b1bfe484c3c96e518b70,"Redmi 10 Power (Sporty Orange, 8GB RAM, 128GB ...","₹12,499",4.0 out of 5 stars,"1,295 ratings",In stock
3208,6450b1bfe484c3c96e518b71,"Redmi A1 (Light Green, 2GB RAM 32GB ROM) | Seg...","₹5,699",4.0 out of 5 stars,"14,112 ratings",In stock
3209,6450b1bfe484c3c96e518b72,"Tecno Spark 9 (Sky Mirror, 4GB RAM,64GB Storag...","₹7,799",3.9 out of 5 stars,"4,825 ratings",In stock

## Transform - Cleaning of data

In [69]:
amazon_df.shape

(3210, 6)

In [68]:
#checking record for reviews column for 0th index
amazon_df['reviews'][0]

''

In [72]:
# Dataframe contains blank spaces so replace blank with none.

amazon_df['price'] = amazon_df['price'].replace('', None)
amazon_df['reviews'] = amazon_df['reviews'].replace('', None)
amazon_df['availability'] = amazon_df['availability'].replace('', None)

In [73]:
# Check if null values exists
amazon_df.isnull().sum()

_id               0
title             0
price             9
rating            0
reviews         164
availability     40
dtype: int64

In [74]:
amazon_df['price'] = amazon_df['price'].str.replace('₹', '').str.replace(',', '').astype(float)

In [75]:
amazon_df

,_id,title,price,rating,reviews,availability
0,6442a3c3c69d033f5ddcd984,"Samsung Galaxy M14 5G (Berry Blue, 4GB, 128GB ...",14990.0,Previous page,None,In stock
1,6442a3c3c69d033f5ddcd985,"Redmi 12C (Matte Black, 4GB RAM, 64GB Storage)",9499.0,Previous page,None,In stock
2,6442a3c3c69d033f5ddcd986,"Samsung Galaxy M04 Light Green, 4GB RAM, 64GB ...",7499.0,3.9 out of 5 stars,"3,403 ratings",In stock
3,6442a3c3c69d033f5ddcd987,"Redmi A1 (Light Blue, 2GB RAM, 32GB Storage) |...",5899.0,4.0 out of 5 stars,"13,373 ratings",In stock
4,6442a3c3c69d033f5ddcd988,"Redmi 10A (Slate Grey, 4GB RAM, 64GB Storage) ...",8999.0,4.0 out of 5 stars,"17,087 ratings",In stock
...,...,...,...,...,...,...
3205,6450b1bfe484c3c96e518b6e,"Tecno Spark 9 (Sky Mirror, 4GB RAM,64GB Storag...",7799.0,3.9 out of 5 stars,"4,825 ratings",In stock
3206,6450b1bfe484c3c96e518b6f,"Samsung Galaxy M33 5G (Emerald Brown, 8GB, 128...",17499.0,4.1 out of 5 stars,"27,309 ratings",In stock
3207,6450b1bfe484c3c96e518b70,"Redmi 10 Power (Sporty Orange, 8GB RAM, 128GB ...",12499.0,4.0 out of 5 stars,"1,295 ratings",In stock
3208,6450b1bfe484c3c96e518b71,"Redmi A1 (Light Green, 2GB RAM 32GB ROM) | Seg...",5699.0,4.0 out of 5 stars,"14,112 ratings",In stock
3209,6450b1bfe484c3c96e518b72,"Tecno Spark 9 (Sky Mirror, 4GB RAM,64GB Storag...",7799.0,3.9 out of 5 stars,"4,825 ratings",In stock

In [12]:
#amazon_df['title'] = amazon_df['title'].str.replace('(\d+GB) RAM.*(\d+GB|\d+TB) Storage', '')

C:\Users\Begena\AppData\Local\Temp\ipykernel_13044\3363329258.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  amazon_df['title'] = amazon_df['title'].str.replace('(\d+GB) RAM.*(\d+GB|\d+TB) Storage', '')

In [13]:
#amazon_df

,_id,title,price,rating,reviews,availability
0,644c3ccb499890cfbaf2a400,"Samsung Galaxy M04 Light Green, | Upto 8GB RA...",8499.0,3.9 out of 5 stars,"3,886 ratings",In stock
1,644c3ccb499890cfbaf2a401,"Samsung Galaxy S23 5G (Phantom Black, 8GB, 256...",79999.0,4.5 out of 5 stars,699 ratings,In stock
2,644c3ccb499890cfbaf2a402,"OnePlus Nord CE 3 Lite 5G (Chromatic Gray, )",19999.0,3.6 out of 5 stars,18 ratings,In stock
3,644c3ccb499890cfbaf2a403,"Samsung Galaxy M04 Light Green, | Upto 8GB RA...",8499.0,3.9 out of 5 stars,"3,886 ratings",In stock
4,644c3ccb499890cfbaf2a404,"OnePlus Nord CE 3 Lite 5G (Pastel Lime, )",21999.0,3.6 out of 5 stars,18 ratings,In stock
...,...,...,...,...,...,...
529,644c3ccb499890cfbaf2a611,Redmi 9A (Midnight Black ) | 2GHz Octa-core He...,7480.0,4.1 out of 5 stars,"322,513 ratings",In stock
530,644c3ccb499890cfbaf2a612,"Samsung Galaxy M04 Dark Blue, | Upto 8GB RAM ...",8499.0,3.9 out of 5 stars,"3,886 ratings",In stock
531,644c3ccb499890cfbaf2a613,"realme narzo 50 (Speed Black, ) Helio G96 Proc...",15499.0,4.2 out of 5 stars,"16,097 ratings",In stock
532,644c3ccb499890cfbaf2a614,"Oppo A78 5G (Glowing Black, 8GB RAM, 128 Stora...",18999.0,4.1 out of 5 stars,914 ratings,In stock
533,644c3ccb499890cfbaf2a615,"Oppo A78 5G (Glowing Blue, 8GB RAM, 128 Storag...",18999.0,4.1 out of 5 stars,914 ratings,In stock

In [76]:
#remove any leading or trailing white spaces from string values 
amazon_df = amazon_df.apply(lambda x: x.str.strip() if x.dtype == 'object' and x.name != '_id' else x)

In [77]:
amazon_df

,_id,title,price,rating,reviews,availability
0,6442a3c3c69d033f5ddcd984,"Samsung Galaxy M14 5G (Berry Blue, 4GB, 128GB ...",14990.0,Previous page,None,In stock
1,6442a3c3c69d033f5ddcd985,"Redmi 12C (Matte Black, 4GB RAM, 64GB Storage)",9499.0,Previous page,None,In stock
2,6442a3c3c69d033f5ddcd986,"Samsung Galaxy M04 Light Green, 4GB RAM, 64GB ...",7499.0,3.9 out of 5 stars,"3,403 ratings",In stock
3,6442a3c3c69d033f5ddcd987,"Redmi A1 (Light Blue, 2GB RAM, 32GB Storage) |...",5899.0,4.0 out of 5 stars,"13,373 ratings",In stock
4,6442a3c3c69d033f5ddcd988,"Redmi 10A (Slate Grey, 4GB RAM, 64GB Storage) ...",8999.0,4.0 out of 5 stars,"17,087 ratings",In stock
...,...,...,...,...,...,...
3205,6450b1bfe484c3c96e518b6e,"Tecno Spark 9 (Sky Mirror, 4GB RAM,64GB Storag...",7799.0,3.9 out of 5 stars,"4,825 ratings",In stock
3206,6450b1bfe484c3c96e518b6f,"Samsung Galaxy M33 5G (Emerald Brown, 8GB, 128...",17499.0,4.1 out of 5 stars,"27,309 ratings",In stock
3207,6450b1bfe484c3c96e518b70,"Redmi 10 Power (Sporty Orange, 8GB RAM, 128GB ...",12499.0,4.0 out of 5 stars,"1,295 ratings",In stock
3208,6450b1bfe484c3c96e518b71,"Redmi A1 (Light Green, 2GB RAM 32GB ROM) | Seg...",5699.0,4.0 out of 5 stars,"14,112 ratings",In stock
3209,6450b1bfe484c3c96e518b72,"Tecno Spark 9 (Sky Mirror, 4GB RAM,64GB Storag...",7799.0,3.9 out of 5 stars,"4,825 ratings",In stock

In [78]:
#amazon_df = amazon_df.reset_index(drop=True)

In [79]:
#amazon_df

,_id,title,price,rating,reviews,availability
0,6442a3c3c69d033f5ddcd984,"Samsung Galaxy M14 5G (Berry Blue, 4GB, 128GB ...",14990.0,Previous page,None,In stock
1,6442a3c3c69d033f5ddcd985,"Redmi 12C (Matte Black, 4GB RAM, 64GB Storage)",9499.0,Previous page,None,In stock
2,6442a3c3c69d033f5ddcd986,"Samsung Galaxy M04 Light Green, 4GB RAM, 64GB ...",7499.0,3.9 out of 5 stars,"3,403 ratings",In stock
3,6442a3c3c69d033f5ddcd987,"Redmi A1 (Light Blue, 2GB RAM, 32GB Storage) |...",5899.0,4.0 out of 5 stars,"13,373 ratings",In stock
4,6442a3c3c69d033f5ddcd988,"Redmi 10A (Slate Grey, 4GB RAM, 64GB Storage) ...",8999.0,4.0 out of 5 stars,"17,087 ratings",In stock
...,...,...,...,...,...,...
3205,6450b1bfe484c3c96e518b6e,"Tecno Spark 9 (Sky Mirror, 4GB RAM,64GB Storag...",7799.0,3.9 out of 5 stars,"4,825 ratings",In stock
3206,6450b1bfe484c3c96e518b6f,"Samsung Galaxy M33 5G (Emerald Brown, 8GB, 128...",17499.0,4.1 out of 5 stars,"27,309 ratings",In stock
3207,6450b1bfe484c3c96e518b70,"Redmi 10 Power (Sporty Orange, 8GB RAM, 128GB ...",12499.0,4.0 out of 5 stars,"1,295 ratings",In stock
3208,6450b1bfe484c3c96e518b71,"Redmi A1 (Light Green, 2GB RAM 32GB ROM) | Seg...",5699.0,4.0 out of 5 stars,"14,112 ratings",In stock
3209,6450b1bfe484c3c96e518b72,"Tecno Spark 9 (Sky Mirror, 4GB RAM,64GB Storag...",7799.0,3.9 out of 5 stars,"4,825 ratings",In stock

In [80]:
#Fill null values in reviews column as 0 ratings
amazon_df['reviews'].fillna("0 ratings", inplace=True)

In [81]:
amazon_df

,_id,title,price,rating,reviews,availability
0,6442a3c3c69d033f5ddcd984,"Samsung Galaxy M14 5G (Berry Blue, 4GB, 128GB ...",14990.0,Previous page,0 ratings,In stock
1,6442a3c3c69d033f5ddcd985,"Redmi 12C (Matte Black, 4GB RAM, 64GB Storage)",9499.0,Previous page,0 ratings,In stock
2,6442a3c3c69d033f5ddcd986,"Samsung Galaxy M04 Light Green, 4GB RAM, 64GB ...",7499.0,3.9 out of 5 stars,"3,403 ratings",In stock
3,6442a3c3c69d033f5ddcd987,"Redmi A1 (Light Blue, 2GB RAM, 32GB Storage) |...",5899.0,4.0 out of 5 stars,"13,373 ratings",In stock
4,6442a3c3c69d033f5ddcd988,"Redmi 10A (Slate Grey, 4GB RAM, 64GB Storage) ...",8999.0,4.0 out of 5 stars,"17,087 ratings",In stock
...,...,...,...,...,...,...
3205,6450b1bfe484c3c96e518b6e,"Tecno Spark 9 (Sky Mirror, 4GB RAM,64GB Storag...",7799.0,3.9 out of 5 stars,"4,825 ratings",In stock
3206,6450b1bfe484c3c96e518b6f,"Samsung Galaxy M33 5G (Emerald Brown, 8GB, 128...",17499.0,4.1 out of 5 stars,"27,309 ratings",In stock
3207,6450b1bfe484c3c96e518b70,"Redmi 10 Power (Sporty Orange, 8GB RAM, 128GB ...",12499.0,4.0 out of 5 stars,"1,295 ratings",In stock
3208,6450b1bfe484c3c96e518b71,"Redmi A1 (Light Green, 2GB RAM 32GB ROM) | Seg...",5699.0,4.0 out of 5 stars,"14,112 ratings",In stock
3209,6450b1bfe484c3c96e518b72,"Tecno Spark 9 (Sky Mirror, 4GB RAM,64GB Storag...",7799.0,3.9 out of 5 stars,"4,825 ratings",In stock

In [82]:
# Find most frequently occurring rating as average
frequency_rating = amazon_df['rating'].mode()[0]
frequency_rating

'4.1 out of 5 stars'

In [83]:
# Identifying the garbage rating and replacing it with average ration i.e. '4.5 out of 5 starts'
amazon_df['rating'] = amazon_df['rating'].replace('Previous page', frequency_rating)
amazon_df

,_id,title,price,rating,reviews,availability
0,6442a3c3c69d033f5ddcd984,"Samsung Galaxy M14 5G (Berry Blue, 4GB, 128GB ...",14990.0,4.1 out of 5 stars,0 ratings,In stock
1,6442a3c3c69d033f5ddcd985,"Redmi 12C (Matte Black, 4GB RAM, 64GB Storage)",9499.0,4.1 out of 5 stars,0 ratings,In stock
2,6442a3c3c69d033f5ddcd986,"Samsung Galaxy M04 Light Green, 4GB RAM, 64GB ...",7499.0,3.9 out of 5 stars,"3,403 ratings",In stock
3,6442a3c3c69d033f5ddcd987,"Redmi A1 (Light Blue, 2GB RAM, 32GB Storage) |...",5899.0,4.0 out of 5 stars,"13,373 ratings",In stock
4,6442a3c3c69d033f5ddcd988,"Redmi 10A (Slate Grey, 4GB RAM, 64GB Storage) ...",8999.0,4.0 out of 5 stars,"17,087 ratings",In stock
...,...,...,...,...,...,...
3205,6450b1bfe484c3c96e518b6e,"Tecno Spark 9 (Sky Mirror, 4GB RAM,64GB Storag...",7799.0,3.9 out of 5 stars,"4,825 ratings",In stock
3206,6450b1bfe484c3c96e518b6f,"Samsung Galaxy M33 5G (Emerald Brown, 8GB, 128...",17499.0,4.1 out of 5 stars,"27,309 ratings",In stock
3207,6450b1bfe484c3c96e518b70,"Redmi 10 Power (Sporty Orange, 8GB RAM, 128GB ...",12499.0,4.0 out of 5 stars,"1,295 ratings",In stock
3208,6450b1bfe484c3c96e518b71,"Redmi A1 (Light Green, 2GB RAM 32GB ROM) | Seg...",5699.0,4.0 out of 5 stars,"14,112 ratings",In stock
3209,6450b1bfe484c3c96e518b72,"Tecno Spark 9 (Sky Mirror, 4GB RAM,64GB Storag...",7799.0,3.9 out of 5 stars,"4,825 ratings",In stock

In [84]:
#Unique values for rating column
amazon_df['rating'].unique()

array(['4.1 out of 5 stars', '3.9 out of 5 stars', '4.0 out of 5 stars',
       '4.5 out of 5 stars', '4.3 out of 5 stars', '3.2 out of 5 stars',
       '4.9 out of 5 stars', '4.4 out of 5 stars', '4.2 out of 5 stars',
       '3.4 out of 5 stars', '4.6 out of 5 stars', '3.6 out of 5 stars',
       '4.7 out of 5 stars'], dtype=object)

In [85]:
# Extracting the 1st 3 characters of rating column to get rid of repetative string 'out of 5 stars' numeric value
amazon_df['rating'] = amazon_df['rating'].apply(lambda x: float(str(x[:3]))) 
amazon_df

,_id,title,price,rating,reviews,availability
0,6442a3c3c69d033f5ddcd984,"Samsung Galaxy M14 5G (Berry Blue, 4GB, 128GB ...",14990.0,4.1,0 ratings,In stock
1,6442a3c3c69d033f5ddcd985,"Redmi 12C (Matte Black, 4GB RAM, 64GB Storage)",9499.0,4.1,0 ratings,In stock
2,6442a3c3c69d033f5ddcd986,"Samsung Galaxy M04 Light Green, 4GB RAM, 64GB ...",7499.0,3.9,"3,403 ratings",In stock
3,6442a3c3c69d033f5ddcd987,"Redmi A1 (Light Blue, 2GB RAM, 32GB Storage) |...",5899.0,4.0,"13,373 ratings",In stock
4,6442a3c3c69d033f5ddcd988,"Redmi 10A (Slate Grey, 4GB RAM, 64GB Storage) ...",8999.0,4.0,"17,087 ratings",In stock
...,...,...,...,...,...,...
3205,6450b1bfe484c3c96e518b6e,"Tecno Spark 9 (Sky Mirror, 4GB RAM,64GB Storag...",7799.0,3.9,"4,825 ratings",In stock
3206,6450b1bfe484c3c96e518b6f,"Samsung Galaxy M33 5G (Emerald Brown, 8GB, 128...",17499.0,4.1,"27,309 ratings",In stock
3207,6450b1bfe484c3c96e518b70,"Redmi 10 Power (Sporty Orange, 8GB RAM, 128GB ...",12499.0,4.0,"1,295 ratings",In stock
3208,6450b1bfe484c3c96e518b71,"Redmi A1 (Light Green, 2GB RAM 32GB ROM) | Seg...",5699.0,4.0,"14,112 ratings",In stock
3209,6450b1bfe484c3c96e518b72,"Tecno Spark 9 (Sky Mirror, 4GB RAM,64GB Storag...",7799.0,3.9,"4,825 ratings",In stock

In [86]:
#Convert reviews column in string format
amazon_df['reviews'] = amazon_df['reviews'].apply(lambda x: str(x))
amazon_df

,_id,title,price,rating,reviews,availability
0,6442a3c3c69d033f5ddcd984,"Samsung Galaxy M14 5G (Berry Blue, 4GB, 128GB ...",14990.0,4.1,0 ratings,In stock
1,6442a3c3c69d033f5ddcd985,"Redmi 12C (Matte Black, 4GB RAM, 64GB Storage)",9499.0,4.1,0 ratings,In stock
2,6442a3c3c69d033f5ddcd986,"Samsung Galaxy M04 Light Green, 4GB RAM, 64GB ...",7499.0,3.9,"3,403 ratings",In stock
3,6442a3c3c69d033f5ddcd987,"Redmi A1 (Light Blue, 2GB RAM, 32GB Storage) |...",5899.0,4.0,"13,373 ratings",In stock
4,6442a3c3c69d033f5ddcd988,"Redmi 10A (Slate Grey, 4GB RAM, 64GB Storage) ...",8999.0,4.0,"17,087 ratings",In stock
...,...,...,...,...,...,...
3205,6450b1bfe484c3c96e518b6e,"Tecno Spark 9 (Sky Mirror, 4GB RAM,64GB Storag...",7799.0,3.9,"4,825 ratings",In stock
3206,6450b1bfe484c3c96e518b6f,"Samsung Galaxy M33 5G (Emerald Brown, 8GB, 128...",17499.0,4.1,"27,309 ratings",In stock
3207,6450b1bfe484c3c96e518b70,"Redmi 10 Power (Sporty Orange, 8GB RAM, 128GB ...",12499.0,4.0,"1,295 ratings",In stock
3208,6450b1bfe484c3c96e518b71,"Redmi A1 (Light Green, 2GB RAM 32GB ROM) | Seg...",5699.0,4.0,"14,112 ratings",In stock
3209,6450b1bfe484c3c96e518b72,"Tecno Spark 9 (Sky Mirror, 4GB RAM,64GB Storag...",7799.0,3.9,"4,825 ratings",In stock

In [87]:
# Delete ratings word and comma from reviews
amazon_df['reviews'] = amazon_df['reviews'].apply(lambda x: x[:-7])
amazon_df['reviews'] = amazon_df['reviews'].apply(lambda x: x.replace(",", ""))
amazon_df

,_id,title,price,rating,reviews,availability
0,6442a3c3c69d033f5ddcd984,"Samsung Galaxy M14 5G (Berry Blue, 4GB, 128GB ...",14990.0,4.1,0,In stock
1,6442a3c3c69d033f5ddcd985,"Redmi 12C (Matte Black, 4GB RAM, 64GB Storage)",9499.0,4.1,0,In stock
2,6442a3c3c69d033f5ddcd986,"Samsung Galaxy M04 Light Green, 4GB RAM, 64GB ...",7499.0,3.9,3403,In stock
3,6442a3c3c69d033f5ddcd987,"Redmi A1 (Light Blue, 2GB RAM, 32GB Storage) |...",5899.0,4.0,13373,In stock
4,6442a3c3c69d033f5ddcd988,"Redmi 10A (Slate Grey, 4GB RAM, 64GB Storage) ...",8999.0,4.0,17087,In stock
...,...,...,...,...,...,...
3205,6450b1bfe484c3c96e518b6e,"Tecno Spark 9 (Sky Mirror, 4GB RAM,64GB Storag...",7799.0,3.9,4825,In stock
3206,6450b1bfe484c3c96e518b6f,"Samsung Galaxy M33 5G (Emerald Brown, 8GB, 128...",17499.0,4.1,27309,In stock
3207,6450b1bfe484c3c96e518b70,"Redmi 10 Power (Sporty Orange, 8GB RAM, 128GB ...",12499.0,4.0,1295,In stock
3208,6450b1bfe484c3c96e518b71,"Redmi A1 (Light Green, 2GB RAM 32GB ROM) | Seg...",5699.0,4.0,14112,In stock
3209,6450b1bfe484c3c96e518b72,"Tecno Spark 9 (Sky Mirror, 4GB RAM,64GB Storag...",7799.0,3.9,4825,In stock

In [88]:
#Covert reviws in int format
amazon_df['reviews'] = amazon_df['reviews'].apply(lambda x: int(x))
amazon_df

,_id,title,price,rating,reviews,availability
0,6442a3c3c69d033f5ddcd984,"Samsung Galaxy M14 5G (Berry Blue, 4GB, 128GB ...",14990.0,4.1,0,In stock
1,6442a3c3c69d033f5ddcd985,"Redmi 12C (Matte Black, 4GB RAM, 64GB Storage)",9499.0,4.1,0,In stock
2,6442a3c3c69d033f5ddcd986,"Samsung Galaxy M04 Light Green, 4GB RAM, 64GB ...",7499.0,3.9,3403,In stock
3,6442a3c3c69d033f5ddcd987,"Redmi A1 (Light Blue, 2GB RAM, 32GB Storage) |...",5899.0,4.0,13373,In stock
4,6442a3c3c69d033f5ddcd988,"Redmi 10A (Slate Grey, 4GB RAM, 64GB Storage) ...",8999.0,4.0,17087,In stock
...,...,...,...,...,...,...
3205,6450b1bfe484c3c96e518b6e,"Tecno Spark 9 (Sky Mirror, 4GB RAM,64GB Storag...",7799.0,3.9,4825,In stock
3206,6450b1bfe484c3c96e518b6f,"Samsung Galaxy M33 5G (Emerald Brown, 8GB, 128...",17499.0,4.1,27309,In stock
3207,6450b1bfe484c3c96e518b70,"Redmi 10 Power (Sporty Orange, 8GB RAM, 128GB ...",12499.0,4.0,1295,In stock
3208,6450b1bfe484c3c96e518b71,"Redmi A1 (Light Green, 2GB RAM 32GB ROM) | Seg...",5699.0,4.0,14112,In stock
3209,6450b1bfe484c3c96e518b72,"Tecno Spark 9 (Sky Mirror, 4GB RAM,64GB Storag...",7799.0,3.9,4825,In stock

## Load - Loading the cleaned data in mysql (Structured)

In [89]:
# Install pymysql
# pip install pymysql

In [90]:
# Import necessary libraries
import pymysql
import pandas as pd
from sqlalchemy import create_engine

# create database connection string
db_connection_str = 'mysql+pymysql://root:root@localhost:3306/dap_project'

# create sqlalchemy engine
engine = create_engine(db_connection_str)

# create database if it doesn't exist
with engine.connect() as con:
    con.execute('CREATE DATABASE IF NOT EXISTS dap_project')

# switch to database
with engine.connect() as con:
    con.execute('USE dap_project')

# load data to mysql table
amazon_df.to_sql(name='amazon_tb', con=engine, if_exists='replace', index=False)

3210

In [91]:
# check the table
pd.read_sql('SHOW TABLES', engine)

  Tables_in_dap_project
0             amazon_tb
1           flipkart_tb
2             mobile_tb

#  ETL Process for Flipkart Dataset

## Extract - Extracting data from MongoDB(Semi-structured)

In [92]:
# Check if database name exist - 
    #if yes - then it will access collection and load data in Amazon_data
    #if no - it will raise ValueError
    
if database_name in collection_list:
    db = client[database_name]
    Flipkart_collection = db['Flipkart']
    Flipkart_data = Flipkart_collection.find()
else:
    raise ValueError(f"Database {database_name} not found in the collection list")

In [93]:
# Convert data into pandas DataFrame
flipkart_df =pd.DataFrame(list(Flipkart_data))

In [94]:
flipkart_df

,_id,title,price,rating,camera_rating,rating_count
0,6442e598c69d033f5ddcde3b,"REDMI 10 (Pacific Blue, 64 GB) (4 GB RAM)","₹9,999",4.3,,"2,14,807 Ratings &"
1,6442e598c69d033f5ddcde3c,"POCO M4 5G (Cool Blue, 64 GB) (4 GB RAM)","₹10,999",4.2,,"65,594 Ratings &"
2,6442e598c69d033f5ddcde3d,"SAMSUNG Galaxy F04 (Jade Purple, 64 GB) (4 GB...","₹7,499",4.3,,"9,071 Ratings &"
3,6442e598c69d033f5ddcde3e,"POCO M4 5G (Power Black, 64 GB) (4 GB RAM)","₹10,999",4.2,,"65,594 Ratings &"
4,6442e598c69d033f5ddcde3f,"POCO M4 5G (Power Black, 128 GB) (6 GB RAM)","₹12,999",4.2,,"33,797 Ratings &"
...,...,...,...,...,...,...
3592,6450bc3de484c3c96e518f16,GREENBERRI VIRAT (BLACK & BLUE),₹749,3.8,,507 Ratings &
3593,6450bc3de484c3c96e518f17,"Infinix HOT 12 Play (Horizon Blue, 64 GB) (4 ...","₹8,999",4.3,,"1,15,557 Ratings &"
3594,6450bc3de484c3c96e518f18,"Infinix HOT 12 Play (Racing Black, 64 GB) (4 ...","₹8,999",4.3,,"1,15,557 Ratings &"
3595,6450bc3de484c3c96e518f19,"Infinix HOT 12 Play (Daylight Green, 64 GB) (...","₹8,999",4.3,,"1,15,557 Ratings &"
3596,6450bc3de484c3c96e518f1a,"OPPO A 78 5G (Glowing Black, 128 GB) (8 GB RAM)","₹18,497",4,,30 Ratings &

## Transform - Cleaning of data

In [98]:
flipkart_df.shape

(3597, 6)

In [104]:
#Chcek null values - camera setting column have no values but here it is giving o null values because it contains b spaces.
flipkart_df.isnull().sum()

_id                 0
title               0
price               2
rating             36
camera_rating    3597
rating_count       36
dtype: int64

In [105]:
# Dataframe contains blank spaces so replace blank with none.
flipkart_df['price'] = flipkart_df['price'].replace('', None)
flipkart_df['rating'] = flipkart_df['rating'].replace('', None)
flipkart_df['camera_rating'] = flipkart_df['camera_rating'].replace('', None)
flipkart_df['rating_count'] = flipkart_df['rating_count'].replace('', None)

In [106]:
flipkart_df.isnull().sum()

_id                 0
title               0
price               2
rating             36
camera_rating    3597
rating_count       36
dtype: int64

In [107]:
#drop column camera_rating as it does not have any record.
flipkart_df = flipkart_df.drop(["camera_rating"], axis=1)

In [108]:
flipkart_df

,_id,title,price,rating,rating_count
0,6442e598c69d033f5ddcde3b,"REDMI 10 (Pacific Blue, 64 GB) (4 GB RAM)","₹9,999",4.3,"2,14,807 Ratings &"
1,6442e598c69d033f5ddcde3c,"POCO M4 5G (Cool Blue, 64 GB) (4 GB RAM)","₹10,999",4.2,"65,594 Ratings &"
2,6442e598c69d033f5ddcde3d,"SAMSUNG Galaxy F04 (Jade Purple, 64 GB) (4 GB...","₹7,499",4.3,"9,071 Ratings &"
3,6442e598c69d033f5ddcde3e,"POCO M4 5G (Power Black, 64 GB) (4 GB RAM)","₹10,999",4.2,"65,594 Ratings &"
4,6442e598c69d033f5ddcde3f,"POCO M4 5G (Power Black, 128 GB) (6 GB RAM)","₹12,999",4.2,"33,797 Ratings &"
...,...,...,...,...,...
3592,6450bc3de484c3c96e518f16,GREENBERRI VIRAT (BLACK & BLUE),₹749,3.8,507 Ratings &
3593,6450bc3de484c3c96e518f17,"Infinix HOT 12 Play (Horizon Blue, 64 GB) (4 ...","₹8,999",4.3,"1,15,557 Ratings &"
3594,6450bc3de484c3c96e518f18,"Infinix HOT 12 Play (Racing Black, 64 GB) (4 ...","₹8,999",4.3,"1,15,557 Ratings &"
3595,6450bc3de484c3c96e518f19,"Infinix HOT 12 Play (Daylight Green, 64 GB) (...","₹8,999",4.3,"1,15,557 Ratings &"
3596,6450bc3de484c3c96e518f1a,"OPPO A 78 5G (Glowing Black, 128 GB) (8 GB RAM)","₹18,497",4,30 Ratings &

In [109]:
flipkart_df.isnull().sum()

_id              0
title            0
price            2
rating          36
rating_count    36
dtype: int64

In [110]:
# Fill null values with 0
flipkart_df.fillna(0, inplace=True)

In [111]:
flipkart_df.isnull().sum()

_id             0
title           0
price           0
rating          0
rating_count    0
dtype: int64

In [112]:
#Cleaning rating_count colum
flipkart_df["rating_count"] = flipkart_df["rating_count"].str.rstrip('Ratings &')

In [113]:
flipkart_df

,_id,title,price,rating,rating_count
0,6442e598c69d033f5ddcde3b,"REDMI 10 (Pacific Blue, 64 GB) (4 GB RAM)","₹9,999",4.3,"2,14,807"
1,6442e598c69d033f5ddcde3c,"POCO M4 5G (Cool Blue, 64 GB) (4 GB RAM)","₹10,999",4.2,"65,594"
2,6442e598c69d033f5ddcde3d,"SAMSUNG Galaxy F04 (Jade Purple, 64 GB) (4 GB...","₹7,499",4.3,"9,071"
3,6442e598c69d033f5ddcde3e,"POCO M4 5G (Power Black, 64 GB) (4 GB RAM)","₹10,999",4.2,"65,594"
4,6442e598c69d033f5ddcde3f,"POCO M4 5G (Power Black, 128 GB) (6 GB RAM)","₹12,999",4.2,"33,797"
...,...,...,...,...,...
3592,6450bc3de484c3c96e518f16,GREENBERRI VIRAT (BLACK & BLUE),₹749,3.8,507
3593,6450bc3de484c3c96e518f17,"Infinix HOT 12 Play (Horizon Blue, 64 GB) (4 ...","₹8,999",4.3,"1,15,557"
3594,6450bc3de484c3c96e518f18,"Infinix HOT 12 Play (Racing Black, 64 GB) (4 ...","₹8,999",4.3,"1,15,557"
3595,6450bc3de484c3c96e518f19,"Infinix HOT 12 Play (Daylight Green, 64 GB) (...","₹8,999",4.3,"1,15,557"
3596,6450bc3de484c3c96e518f1a,"OPPO A 78 5G (Glowing Black, 128 GB) (8 GB RAM)","₹18,497",4,30

In [114]:
flipkart_df['rating_count'] = flipkart_df['rating_count'].str.replace(',','').astype(float)

In [115]:
flipkart_df

,_id,title,price,rating,rating_count
0,6442e598c69d033f5ddcde3b,"REDMI 10 (Pacific Blue, 64 GB) (4 GB RAM)","₹9,999",4.3,214807.0
1,6442e598c69d033f5ddcde3c,"POCO M4 5G (Cool Blue, 64 GB) (4 GB RAM)","₹10,999",4.2,65594.0
2,6442e598c69d033f5ddcde3d,"SAMSUNG Galaxy F04 (Jade Purple, 64 GB) (4 GB...","₹7,499",4.3,9071.0
3,6442e598c69d033f5ddcde3e,"POCO M4 5G (Power Black, 64 GB) (4 GB RAM)","₹10,999",4.2,65594.0
4,6442e598c69d033f5ddcde3f,"POCO M4 5G (Power Black, 128 GB) (6 GB RAM)","₹12,999",4.2,33797.0
...,...,...,...,...,...
3592,6450bc3de484c3c96e518f16,GREENBERRI VIRAT (BLACK & BLUE),₹749,3.8,507.0
3593,6450bc3de484c3c96e518f17,"Infinix HOT 12 Play (Horizon Blue, 64 GB) (4 ...","₹8,999",4.3,115557.0
3594,6450bc3de484c3c96e518f18,"Infinix HOT 12 Play (Racing Black, 64 GB) (4 ...","₹8,999",4.3,115557.0
3595,6450bc3de484c3c96e518f19,"Infinix HOT 12 Play (Daylight Green, 64 GB) (...","₹8,999",4.3,115557.0
3596,6450bc3de484c3c96e518f1a,"OPPO A 78 5G (Glowing Black, 128 GB) (8 GB RAM)","₹18,497",4,30.0

In [116]:
flipkart_df['price'] = flipkart_df['price'].str.replace('₹','').str.replace(',','').astype(float)

In [117]:
flipkart_df

,_id,title,price,rating,rating_count
0,6442e598c69d033f5ddcde3b,"REDMI 10 (Pacific Blue, 64 GB) (4 GB RAM)",9999.0,4.3,214807.0
1,6442e598c69d033f5ddcde3c,"POCO M4 5G (Cool Blue, 64 GB) (4 GB RAM)",10999.0,4.2,65594.0
2,6442e598c69d033f5ddcde3d,"SAMSUNG Galaxy F04 (Jade Purple, 64 GB) (4 GB...",7499.0,4.3,9071.0
3,6442e598c69d033f5ddcde3e,"POCO M4 5G (Power Black, 64 GB) (4 GB RAM)",10999.0,4.2,65594.0
4,6442e598c69d033f5ddcde3f,"POCO M4 5G (Power Black, 128 GB) (6 GB RAM)",12999.0,4.2,33797.0
...,...,...,...,...,...
3592,6450bc3de484c3c96e518f16,GREENBERRI VIRAT (BLACK & BLUE),749.0,3.8,507.0
3593,6450bc3de484c3c96e518f17,"Infinix HOT 12 Play (Horizon Blue, 64 GB) (4 ...",8999.0,4.3,115557.0
3594,6450bc3de484c3c96e518f18,"Infinix HOT 12 Play (Racing Black, 64 GB) (4 ...",8999.0,4.3,115557.0
3595,6450bc3de484c3c96e518f19,"Infinix HOT 12 Play (Daylight Green, 64 GB) (...",8999.0,4.3,115557.0
3596,6450bc3de484c3c96e518f1a,"OPPO A 78 5G (Glowing Black, 128 GB) (8 GB RAM)",18497.0,4,30.0

## Load - Loading the cleaned data in mysql (Structured)

In [118]:
# load data to mysql table
flipkart_df.to_sql(name='flipkart_tb', con=engine, if_exists='replace', index=False)

3597

In [119]:
# check the table
pd.read_sql('SHOW TABLES', engine)

  Tables_in_dap_project
0             amazon_tb
1           flipkart_tb
2             mobile_tb

# ETL process for other Mobile_data

## Extract - Extracting data from MongoDB(Semi-structured)

In [123]:
# Check if database name exist - 
    #if yes - then it will access collection and load data in Amazon_data
    #if no - it will raise ValueError
    
if database_name in collection_list:
    db = client[database_name]
    Mobile_collection = db['Mobile_data']
    Mobile_data = Mobile_collection.find()
else:
    raise ValueError(f"Database {database_name} not found in the collection list")

In [124]:
##convert data into pandas DataFrame
mobile_df = pd.DataFrame(list(Mobile_data))

In [125]:
mobile_df

,_id,asin,brand,title,url,image,rating,reviewUrl,totalReviews,price,originalPrice
0,644b208e025de930036751ea,B0000SX2UC,NaN,Dual-Band / Tri-Mode Sprint PCS Phone w/ Voice...,https://www.amazon.com/Dual-Band-Tri-Mode-Acti...,https://m.media-amazon.com/images/I/2143EBQ210...,3.0,https://www.amazon.com/product-reviews/B0000SX2UC,14,0.00,0.00
1,644b208e025de930036751eb,B0009N5L7K,Motorola,Motorola I265 phone,https://www.amazon.com/Motorola-i265-I265-phon...,https://m.media-amazon.com/images/I/419WBAVDAR...,3.0,https://www.amazon.com/product-reviews/B0009N5L7K,7,49.95,0.00
2,644b208e025de930036751ec,B000SKTZ0S,Motorola,MOTOROLA C168i AT&T CINGULAR PREPAID GOPHONE C...,https://www.amazon.com/MOTOROLA-C168i-CINGULAR...,https://m.media-amazon.com/images/I/71b+q3ydkI...,2.7,https://www.amazon.com/product-reviews/B000SKTZ0S,22,99.99,0.00
3,644b208e025de930036751ed,B001AO4OUC,Motorola,Motorola i335 Cell Phone Boost Mobile,https://www.amazon.com/Motorola-i335-Phone-Boo...,https://m.media-amazon.com/images/I/710UO8gdT+...,3.3,https://www.amazon.com/product-reviews/B001AO4OUC,21,0.00,0.00
4,644b208e025de930036751ee,B001DCJAJG,Motorola,Motorola V365 no contract cellular phone AT&T,https://www.amazon.com/Motorola-V365-contract-...,https://m.media-amazon.com/images/I/61LYNCVrrK...,3.1,https://www.amazon.com/product-reviews/B001DCJAJG,12,149.99,0.00
...,...,...,...,...,...,...,...,...,...,...,...
1435,64502fc0b43a387639203fa4,B07ZPKZSSC,Apple,"Apple iPhone 11 Pro, 64GB, Fully Unlocked - Sp...",https://www.amazon.com/Apple-iPhone-64GB-Fully...,https://m.media-amazon.com/images/I/41wDuEW9iZ...,1.0,https://www.amazon.com/product-reviews/B07ZPKZSSC,1,949.00,0.00
1436,64502fc0b43a387639203fa5,B07ZQSGP53,Xiaomi,"Xiaomi Redmi Note 8, 32GB/3GB RAM 6.3"" FHD+ Di...",https://www.amazon.com/Xiaomi-Display-Snapdrag...,https://m.media-amazon.com/images/I/41foh4FKHE...,4.6,https://www.amazon.com/product-reviews/B07ZQSGP53,3,150.96,0.00
1437,64502fc0b43a387639203fa6,B081H6STQQ,Sony,Sony Xperia 1 Unlocked Smartphone and WH1000XM...,https://www.amazon.com/Sony-Smartphone-WH1000X...,https://m.media-amazon.com/images/I/51zZTAXZTP...,4.5,https://www.amazon.com/product-reviews/B081H6STQQ,70,948.00,0.00
1438,64502fc0b43a387639203fa7,B081TJFVCJ,Apple,"Apple iPhone X, 64GB, Gray - Fully Unlocked (R...",https://www.amazon.com/Apple-iPhone-64GB-Gray-...,https://m.media-amazon.com/images/I/71yMgOenT5...,5.0,https://www.amazon.com/product-reviews/B081TJFVCJ,1,478.97,0.00
1439,64502fc0b43a387639203fa8,B0825BB7SG,Samsung,Straight Talk Samsung Galaxy A10e Smartphone 5...,https://www.amazon.com/Straight-Samsung-Galaxy...,https://m.media-amazon.com/images/I/81+3SWSAhD...,5.0,https://www.amazon.com/product-reviews/B0825BB7SG,1,139.00,139.26

## Transform - Cleaning of data

In [129]:
mobile_df.shape

(1440, 11)

In [130]:
#Check if null values exists
mobile_df.isna().sum()

_id              0
asin             0
brand            8
title            0
url              0
image            0
rating           0
reviewUrl        0
totalReviews     0
price            0
originalPrice    0
dtype: int64

In [131]:
# Drop records having values null
mobile_df = mobile_df.dropna()

In [132]:
mobile_df.isna().sum()

_id              0
asin             0
brand            0
title            0
url              0
image            0
rating           0
reviewUrl        0
totalReviews     0
price            0
originalPrice    0
dtype: int64

In [133]:
# Dropped columns 'reviewUrl','url','image' for cleaning data as per requirement
mobile_df = mobile_df.drop(['reviewUrl','url','image'],axis=1)

In [134]:
mobile_df

,_id,asin,brand,title,rating,totalReviews,price,originalPrice
1,644b208e025de930036751eb,B0009N5L7K,Motorola,Motorola I265 phone,3.0,7,49.95,0.00
2,644b208e025de930036751ec,B000SKTZ0S,Motorola,MOTOROLA C168i AT&T CINGULAR PREPAID GOPHONE C...,2.7,22,99.99,0.00
3,644b208e025de930036751ed,B001AO4OUC,Motorola,Motorola i335 Cell Phone Boost Mobile,3.3,21,0.00,0.00
4,644b208e025de930036751ee,B001DCJAJG,Motorola,Motorola V365 no contract cellular phone AT&T,3.1,12,149.99,0.00
5,644b208e025de930036751ef,B001GQ3DJM,Nokia,Nokia 1680 Black Phone (T-Mobile),2.7,3,0.00,0.00
...,...,...,...,...,...,...,...,...
1435,64502fc0b43a387639203fa4,B07ZPKZSSC,Apple,"Apple iPhone 11 Pro, 64GB, Fully Unlocked - Sp...",1.0,1,949.00,0.00
1436,64502fc0b43a387639203fa5,B07ZQSGP53,Xiaomi,"Xiaomi Redmi Note 8, 32GB/3GB RAM 6.3"" FHD+ Di...",4.6,3,150.96,0.00
1437,64502fc0b43a387639203fa6,B081H6STQQ,Sony,Sony Xperia 1 Unlocked Smartphone and WH1000XM...,4.5,70,948.00,0.00
1438,64502fc0b43a387639203fa7,B081TJFVCJ,Apple,"Apple iPhone X, 64GB, Gray - Fully Unlocked (R...",5.0,1,478.97,0.00
1439,64502fc0b43a387639203fa8,B0825BB7SG,Samsung,Straight Talk Samsung Galaxy A10e Smartphone 5...,5.0,1,139.00,139.26

In [135]:
# Coverting price in dollar into rupees
exchange_rate = 80
mobile_df['Price'] = mobile_df['price'] * exchange_rate
mobile_df['original_price'] = mobile_df['originalPrice']*exchange_rate

In [136]:
mobile_df

,_id,asin,brand,title,rating,totalReviews,price,originalPrice,Price,original_price
1,644b208e025de930036751eb,B0009N5L7K,Motorola,Motorola I265 phone,3.0,7,49.95,0.00,3996.0,0.0
2,644b208e025de930036751ec,B000SKTZ0S,Motorola,MOTOROLA C168i AT&T CINGULAR PREPAID GOPHONE C...,2.7,22,99.99,0.00,7999.2,0.0
3,644b208e025de930036751ed,B001AO4OUC,Motorola,Motorola i335 Cell Phone Boost Mobile,3.3,21,0.00,0.00,0.0,0.0
4,644b208e025de930036751ee,B001DCJAJG,Motorola,Motorola V365 no contract cellular phone AT&T,3.1,12,149.99,0.00,11999.2,0.0
5,644b208e025de930036751ef,B001GQ3DJM,Nokia,Nokia 1680 Black Phone (T-Mobile),2.7,3,0.00,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
1435,64502fc0b43a387639203fa4,B07ZPKZSSC,Apple,"Apple iPhone 11 Pro, 64GB, Fully Unlocked - Sp...",1.0,1,949.00,0.00,75920.0,0.0
1436,64502fc0b43a387639203fa5,B07ZQSGP53,Xiaomi,"Xiaomi Redmi Note 8, 32GB/3GB RAM 6.3"" FHD+ Di...",4.6,3,150.96,0.00,12076.8,0.0
1437,64502fc0b43a387639203fa6,B081H6STQQ,Sony,Sony Xperia 1 Unlocked Smartphone and WH1000XM...,4.5,70,948.00,0.00,75840.0,0.0
1438,64502fc0b43a387639203fa7,B081TJFVCJ,Apple,"Apple iPhone X, 64GB, Gray - Fully Unlocked (R...",5.0,1,478.97,0.00,38317.6,0.0
1439,64502fc0b43a387639203fa8,B0825BB7SG,Samsung,Straight Talk Samsung Galaxy A10e Smartphone 5...,5.0,1,139.00,139.26,11120.0,11140.8

In [137]:
# Dropping columns which was in dollar currency
mobile_df = mobile_df.drop(['price','originalPrice'],axis=1)

In [138]:
mobile_df

,_id,asin,brand,title,rating,totalReviews,Price,original_price
1,644b208e025de930036751eb,B0009N5L7K,Motorola,Motorola I265 phone,3.0,7,3996.0,0.0
2,644b208e025de930036751ec,B000SKTZ0S,Motorola,MOTOROLA C168i AT&T CINGULAR PREPAID GOPHONE C...,2.7,22,7999.2,0.0
3,644b208e025de930036751ed,B001AO4OUC,Motorola,Motorola i335 Cell Phone Boost Mobile,3.3,21,0.0,0.0
4,644b208e025de930036751ee,B001DCJAJG,Motorola,Motorola V365 no contract cellular phone AT&T,3.1,12,11999.2,0.0
5,644b208e025de930036751ef,B001GQ3DJM,Nokia,Nokia 1680 Black Phone (T-Mobile),2.7,3,0.0,0.0
...,...,...,...,...,...,...,...,...
1435,64502fc0b43a387639203fa4,B07ZPKZSSC,Apple,"Apple iPhone 11 Pro, 64GB, Fully Unlocked - Sp...",1.0,1,75920.0,0.0
1436,64502fc0b43a387639203fa5,B07ZQSGP53,Xiaomi,"Xiaomi Redmi Note 8, 32GB/3GB RAM 6.3"" FHD+ Di...",4.6,3,12076.8,0.0
1437,64502fc0b43a387639203fa6,B081H6STQQ,Sony,Sony Xperia 1 Unlocked Smartphone and WH1000XM...,4.5,70,75840.0,0.0
1438,64502fc0b43a387639203fa7,B081TJFVCJ,Apple,"Apple iPhone X, 64GB, Gray - Fully Unlocked (R...",5.0,1,38317.6,0.0
1439,64502fc0b43a387639203fa8,B0825BB7SG,Samsung,Straight Talk Samsung Galaxy A10e Smartphone 5...,5.0,1,11120.0,11140.8

# Load - Loading the cleaned data in mysql (Structured)

In [141]:
# load data to mysql table
mobile_df.to_sql(name='mobile_tb', con=engine, if_exists='replace', index=False)

1432

In [142]:
# check the table
pd.read_sql('SHOW TABLES', engine)

  Tables_in_dap_project
0             amazon_tb
1           flipkart_tb
2             mobile_tb